<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1> Hitch </h1> 
      <h3>Sorry, we've encountered an error :(</h3>
      <br>
      <h4>Error: <%= status %> <%= message %></h4>
      
    </div>
  </body>
</html>